<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAPRWeb</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <main class="py-5 text-center container">
        <table class="table mt-2 col-md-12  ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Номер стержня (P)</th>
                <th scope="col">Длина (L)</th>
                <th scope="col">Модуль упругости (E)</th>
                <th scope="col">Дополнительное напряжение (&sigma;)</th>
                <th scope="col">Нагрузка (q)</th>
                <th scope="col">Площадь поперечного сечения (А)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${rod.number}"></td>
                <td th:text="${rod.length}"></td>
                <td th:text="${rod.elasticityModule}"></td>
                <td th:text="${rod.tension}"></td>
                <td th:text="${rod.load}"></td>
                <td th:text="${rod.sectional}"></td>
            </tr>
            </tbody>
        </table>
        <form onsubmit = "return validateForm()" th:method="POST" th:action="@{/update-rod}" th:object="${rod}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >ID</span>
                </div>
                <input id="id" readonly="readonly" name="id" th:value="${id}" step="0.0001" type="number" class="form-control" placeholder="Длина" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">L</span>
                </div>
                <input id="length" th:field="*{length}" name="length" step="0.0001" type="number" class="form-control" placeholder="Длина" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">E</span>
                </div>
                <input id="elasticityModule" th:field="*{elasticityModule}" step="0.0001" name="elasticityModule" type="number" class="form-control" placeholder="Модуль упругости" aria-label="Username" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon4">&sigma;</span>
                </div>
                <input id="tension" th:field="*{tension}" name="tension" step="0.0001" type="number" class="form-control" placeholder="Дополнительное напряжение" aria-label="Username" aria-describedby="basic-addon4">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon5">q</span>
                </div>
                <input id="load" th:field="*{load}" name="load" step="0.0001" type="number" class="form-control" placeholder="Нагрузка" aria-label="Username" aria-describedby="basic-addon5">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon6">A</span>
                </div>
                <input id="sectional" th:field="*{sectional}" name="load" step="0.0001" type="number" class="form-control" placeholder="Площадь поперечного сечения" aria-label="Username" aria-describedby="basic-addon6">
            </div>
            <button type="submit" class="btn btn-primary">Изменить стержень</button>
        </form>
    </main>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>