<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAPRWeb</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
    <body>
        <main class="py-5 text-center container">
            <table class="table mt-2 col-md-12  ">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Номер узла (I)</th>
                    <th scope="col">Нагрузка (F)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${assembly.number}"></td>
                    <td th:text="${assembly.load}"></td>
                </tr>
                </tbody>
            </table>
            <form onsubmit = "return validateForm()" th:method="POST" th:action="@{/update-assembly}" th:object="${assembly}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >ID</span>
                    </div>
                    <input id="id" readonly="readonly" name="id" th:value="${id}" step="0.0001" type="number" class="form-control" placeholder="Длина" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon5">q</span>
                    </div>
                    <input id="load" th:field="*{load}" name="load" step="0.0001" type="number" class="form-control" placeholder="Нагрузка" aria-label="Username" aria-describedby="basic-addon5">
                </div>
                <button type="submit" class="btn btn-primary">Изменить стержень</button>
            </form>
        </main>
    </body>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>