<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAPRWeb</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-6 shadow">
                <div class="modal-footer flex-column border-top-0">
                    <form method="get" action="/files/download">
                        <input class="form-control form-control-lg" placeholder="Имя файла" type="text" name="file_name"/>
                        <button type="submit">Скачать файл</button>
                    </form>
                    <form method="POST" action="/files/upload" enctype="multipart/form-data">
                        <input class="form-control form-control-lg" id="formFileLg" type="file" name="file"/>
                        <button type="submit">Подтвердить</button>
                    </form>
                    <a href="/preprocessor" type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Выйти</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>