<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAPRWeb</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Навигационная панель</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Построить графики<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Выйти из постпроцессора<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
    <main class="py-5 text-center container">
        <form th:action="@{/recalculation}" th:method="GET">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Количество разбиений</span>
                </div>
                <input th:name="nx_rows_count" step="1" type="number" class="form-control" placeholder="Количество разбиений" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Номер стержня</span>
                </div>
                <input th:name="nx_rod_number" step="1" type="number" class="form-control" placeholder="Номер стержня" aria-label="Username" aria-describedby="basic-addon2">
            </div>
            <div>
                <h4>Nx</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">x</th>
                            <th scope="col">y</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row : ${matrixNx}">
                            <td th:each="value: ${row}" th:text="${value}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Количество разбиений</span>
                </div>
                <input th:name="ux_rows_count" step="1" type="number" class="form-control" placeholder="Количество разбиений" aria-label="Username" aria-describedby="basic-addon3">
            </div>
            <div>
                <h4>Ux</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">x</th>
                        <th scope="col">y</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row : ${matrixUx}">
                            <td th:each="value: ${row}" th:text="${value}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon4">Количество разбиений</span>
                </div>
                <input th:name="sigma_rows_count" step="1" type="number" class="form-control" placeholder="Количество разбиений" aria-label="Username" aria-describedby="basic-addon4">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon5">Номер стержня</span>
                </div>
                <input th:name="sigma_rod_number" step="1" type="number" class="form-control" placeholder="Номер стержня" aria-label="Username" aria-describedby="basic-addon5">
            </div>
            <div>
                <h4>&sigma;</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">x</th>
                            <th scope="col">y</th>
                            <th scope="col">Превышено ли значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row : ${sigma}">
                            <td th:each="value: ${row}" th:text="${value}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary">Пересчитать значения</button>
        </form>
    </main>
</main>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>