<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SAPRWeb</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Навигационная панель</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/schedule">Построить график<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalWindowCalculator">Калькулятор</a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#modalWindowOptions">Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/files">Работа с файлами<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Выйти из препроцессора<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="py-5 text-center container">
        <div>
            <table class="table mt-2 col-md-12  ">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Номер стержня (P)</th>
                    <th scope="col">Длина (L)</th>
                    <th scope="col">Модуль упругости (E)</th>
                    <th scope="col">Дополнительное напряжение (&sigma;)</th>
                    <th scope="col">Нагрузка (q)</th>
                    <th scope="col">Площадь поперечного сечения (А)</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="rod : ${rods}">
                        <td th:text="${rod.number}"></td>
                        <td th:text="${rod.length}"></td>
                        <td th:text="${rod.elasticityModule}"></td>
                        <td th:text="${rod.tension}"></td>
                        <td th:text="${rod.load}"></td>
                        <td th:text="${rod.sectional}"></td>
                        <td><a th:href="@{/edit-rod/{id}(id = ${rod.getId()})}" class="btn btn-warning">Изменить стержень</a></td>
                        <td><a th:href="@{/delete-rod/{id}(id = ${rod.getId()})}" class="btn btn-danger">Удалить стержень</a></td>
                    </tr>
                </tbody>
            </table>
            <form onsubmit = "return validateForm()" th:method="POST" th:action="@{/new-rod}" th:object="${rod}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">L</span>
                    </div>
                    <input id="length" th:field="*{length}" name="length" step="0.0001" type="number" class="form-control" placeholder="Длина" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">E</span>
                    </div>
                    <input id="elasticityModule" th:field="*{elasticityModule}" step="0.0001" name="elasticityModule" type="number" class="form-control" placeholder="Модуль упругости" aria-label="Username" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon4">&sigma;</span>
                    </div>
                    <input id="tension" th:field="*{tension}" name="tension" step="0.0001" type="number" class="form-control" placeholder="Дополнительное напряжение" aria-label="Username" aria-describedby="basic-addon4">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon5">q</span>
                    </div>
                    <input id="load" th:field="*{load}" name="load" step="0.0001" type="number" class="form-control" placeholder="Нагрузка" aria-label="Username" aria-describedby="basic-addon5">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon6">A</span>
                    </div>
                    <input id="sectional" th:field="*{sectional}" name="load" step="0.0001" type="number" class="form-control" placeholder="Площадь поперечного сечения" aria-label="Username" aria-describedby="basic-addon6">
                </div>
                <button type="submit" class="btn btn-primary">Добавить стержень</button>
            </form>
            <div class="mt-2">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Номер узла (I)</th>
                        <th scope="col">Продольная нагрузка (F)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assembly : ${assemblies}">
                            <td th:text="${assembly.number}"></td>
                            <td th:text="${assembly.load}"></td>
                            <td><a th:href="@{/edit-assembly/{id}(id = ${assembly.getId()})}" class="btn btn-warning">Изменить узел</a></td>
                            <td><a th:href="@{/delete-assembly/{id}(id = ${assembly.getId()})}" class="btn btn-danger">Удалить узел</a></td>
                        </tr>
                    </tbody>
                </table>
                <form th:method="POST" th:action="@{/new-assembly}" th:object="${assembly}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon7">F</span>
                        </div>
                        <input th:field="*{load}" name="load" step="0.0001" type="number" class="form-control" placeholder="Нагрузка" aria-label="Username" aria-describedby="basic-addon7">
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить узел</button>
                </form>
            </div>
        </div>
        <!-- Calculator -->
        <div class="modal fade" id="modalWindowCalculator" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- Options -->
        <div class="modal fade" id="modalWindowOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/set-options">
                            <h5>Общие настройки</h5>
                            <div class="form-check form-switch">
                                <input th:checked="${left_column}" class="form-check-input" type="checkbox" id="left_column" name="left_column">
                                <label class="form-check-label" for="left_column">Левая опора</label>
                            </div>
                            <div class="form-check form-switch">
                                <input th:checked="${right_column}" class="form-check-input" type="checkbox" id="right_column" name="right_column">
                                <label class="form-check-label" for="right_column">Правая опора</label>
                            </div>
                            <div class="py-5 text-center container">
                                <h5>Множители для параметров стержней</h5>
                                <select name="length_coef" class="form-select" aria-label="Default select example">
                                    <option value="T">ТМ</option>
                                    <option value="G">ГМ</option>
                                    <option value="M">ММ</option>
                                    <option value="K">КМ</option>
                                    <option value="Standard" selected>М</option>
                                    <option value="d">дМ</option>
                                    <option value="sm">сМ</option>
                                    <option value="ml">мМ</option>
                                    <option value="mk">мкМ</option>
                                    <option value="n">нМ</option>
                                    <option value="p">пМ</option>
                                </select>
                                <select name="elasticity_module_coef" class="form-select" aria-label="Default select example">
                                    <option value="T">ТПа</option>
                                    <option value="G">ГПа</option>
                                    <option value="M" selected>МПа</option>
                                    <option value="K">КПа</option>
                                    <option value="Standard">Па</option>
                                    <option value="d">дПа</option>
                                    <option value="sm">сПа</option>
                                    <option value="ml">мПа</option>
                                    <option value="mk">мкПа</option>
                                    <option value="n">нПа</option>
                                    <option value="p">пПа</option>
                                </select>
                                <select name="tension_coef" class="form-select" aria-label="Default select example">
                                    <option value="T">ТПа</option>
                                    <option value="G">ГПа</option>
                                    <option value="M" selected>МПа</option>
                                    <option value="K">КПа</option>
                                    <option value="Standard">Па</option>
                                    <option value="d">дПа</option>
                                    <option value="sm">сПа</option>
                                    <option value="ml">мПа</option>
                                    <option value="mk">мкПа</option>
                                    <option value="n">нПа</option>
                                    <option value="p">пПа</option>
                                </select>
                                <select name="load_coef" class="form-select" aria-label="Default select example">
                                    <option value="T">ТН</option>
                                    <option value="G">ГН</option>
                                    <option value="M">МН</option>
                                    <option value="K">КН</option>
                                    <option value="Standard" selected>Н</option>
                                    <option value="d">дН</option>
                                    <option value="sm">сН</option>
                                    <option value="ml">мН</option>
                                    <option value="mk">мкН</option>
                                    <option value="n">нН</option>
                                    <option value="p">пН</option>
                                </select>
                                <select name="sectional_coef" class="form-select" aria-label="Default select example">
                                    <option value="T">ТМ2</option>
                                    <option value="G">ГМ2</option>
                                    <option value="M">ММ2</option>
                                    <option value="K">КМ2</option>
                                    <option value="Standard" selected>М2</option>
                                    <option value="d">дМ2</option>
                                    <option value="sm">сМ2</option>
                                    <option value="ml">мМ2</option>
                                    <option value="mk">мкМ2</option>
                                    <option value="n">нМ2</option>
                                    <option value="p">пМ2</option>
                                </select>
                            </div>
                            <div class="py-5 text-center container">
                                <h5>Множители для параметров узлов</h5>
                                <select name="load_coef_assembly" class="form-select" aria-label="Default select example">
                                    <option value="T">ТН</option>
                                    <option value="G">ГН</option>
                                    <option value="M">МН</option>
                                    <option value="K">КН</option>
                                    <option value="Standard" selected>Н</option>
                                    <option value="d">дН</option>
                                    <option value="sm">сН</option>
                                    <option value="ml">мН</option>
                                    <option value="mk">мкН</option>
                                    <option value="n">нН</option>
                                    <option value="p">пН</option>
                                </select>
                            </div>
                            <div>
                                <label for="rounding">Округлять результат в процессоре до: </label>
                                <input min="1" id="rounding" name="rounding" step="1" type="number" class="form-control" placeholder="Количество знаков после запятой" aria-label="Username" aria-describedby="basic-addon7">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
                                <button type="submit" class="btn btn-primary">Сохранить настройки</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script type="text/javascript" src="../static/js/form_validation.js"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>