<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>SAPRWeb</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Навигационная панель</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/files">Сохранить расчёты<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Выйти из процессора<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="py-5 text-center container">
            <div>
                <h4>A</h4>
                <table class="table table-bordered">
                    <tr th:each="row : ${matrixA}">
                        <td th:each="value: ${row}" th:text="${value}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>B</h4>
                <table class="table table-bordered">
                    <tr th:each="value : ${vectorB}">
                        <td th:text="${value}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>&Delta;</h4>
                <table class="table table-bordered">
                    <tr th:each="value : ${delta}">
                        <td th:text="${value}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>N<sub>x</sub></h4>
                <table class="table table-bordered">
                    <tr th:each="row : ${Nx}">
                        <td th:each="value: ${row}" th:text="${value}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>U</h4>
                <table class="table table-bordered">
                    <tr th:each="row : ${U}">
                        <td th:each="value: ${row}" th:text="${value}"></td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
<script type="text/javascript" src="../static/js/form_validation.js"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>